
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-de-fundo-menu);
}

.cabecalho__esquerdo {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.cabecalho__logo {
    height: 24px;
    width: 24px;
    max-width: 80px; /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    color: #464646;
}

.navegacao__lista {
    display: none;
    font-family: "Raleway", sans-serif; 
    font-weight: 500;
    color: #464646;
    align-items: center;
}

.navegacao__elemento a {
    font-size: 0.9rem;
}
/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.apresentacao__foto{ 
    max-width: 100px;
}

.apresentacao__titulo {
    color: #464646;
    font-size: 22px;
}

.apresentacao__subtitulo {
    font-size: 14px;
    color: #464646;
}

.redes {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    color: #000000;
    padding-left: 0px;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    background-color: #EAF2FD;
    padding: 20px 40px 20px 40px;
}

.sobre-mim__titulo {
    color: #464646;
}

.sobre-mim__texto {
    color: #464646;
    text-align: justify;
}

/*------------------------------ Seção de Habilidades ------------------------------*/

.habilidades__titulo {
    display: flex;
    justify-content: center;
}

.habilidades__lista {
    display: flex;
    column-gap: 300px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}

.habilidades__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

/*------------------------------ Seção de Hobbies --------------------------------*/


/*------------------------------ Seção de Projetos --------------------------------*/


/*------------------------------ Seção de Contato ---------------------------------*/


/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 768px) {

    /* MENU */

    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__logo {
        max-width: 100px;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }

    .navegacao__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacao__elemento a {
        font-size: 1rem;
    }

    .navegacao__elemento:nth-child(6){
        font-weight: 700;
    }

    /* APRESENTAÇÃO */

    .apresentacao {
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;
    }

    .apresentacao__foto{ 
        max-width: 150px;
    }

    .apresentacao__subtitulo {
        font-size: 16px;
    }

}

/* Telas grandes */
@media (min-width: 1024px) {
    /* Aqui você pode ajustar ainda mais o design para telas grandes */
    
    /* MENU */

    .cabecalho__titulo {
        font-size: 16px;
    }

    .navegacao__elemento a {
        font-size: 16px;
    }

    .navegacao__elemento:nth-child(6){
        font-weight: 700;
    }

    /* APRESENTAÇÃO */

    .apresentacao {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .apresentacao__foto {
        max-width: 370px;
    }

    .apresentacao__titulo {
        font-size: 50px;
    }

    .apresentacao__subtitulo {
        font-size: 22px;
    }

    .redes__elemento {
        font-size: 16px;
    }

    /* SOBRE MIM */

    .sobre-mim {
        padding: 20px 40px 20px 40px;
    }

    /* HABILIDADES */

    .habilidades__lista {
        justify-content: center;
    }

}
